<head>
    <style>
        button { height: 34px; }
    </style>
</head>
<body>
    {{> header }}
    <div id="content">
        <div id="newButtons"></div>
        <div id="editorContainer"></div>
        <div id="tablePreview"></div>
    </div>
</body>


{{! Changing escape to include mustache templates raw }}
{{=<% %>=}}

<script id="tableTemplate" type="x-tmpl-mustache">
    <div class="well">
        <h2>Pick X-Axis</h2>
        {{#headers}}
            <label class="myRadio">
                <input class="xpropSelector" type="radio" name="xprop" value="{{.}}">
                {{.}}
            </label>
        {{/headers}}
        
        <div>
            <a id="vizLink">Pick X-Axis and this becomes the link to your chart</a>
        </div>
    </div>
    
    <h2>Preview Table</h2>
    <table class="table table-striped">
        <tr>
            {{#headers}}
                <th>{{.}}</th>
            {{/headers}}
        </tr>
        {{#rows}}
            <tr>
                {{#.}}
                <td>{{.}}</td>
                {{/.}}
            </tr>
        {{/rows}}
    </table>
    Note table limited to 100 rows in preview.
</script>

<%={{ }}=%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/json-editor/0.7.25/jsoneditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.js"></script>
<script src="https://code.jquery.com/jquery-1.12.3.js" integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
var docs = {{{ docs }}};
var editObjectId = "{{ editObjectId }}";
var dbTypesArray = {{{ dbTypesArray }}};
var modelTypesArray = {{{ modelTypesArray }}};
</script>

<script src="/js/edit.js"></script>
