<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css'>
  </head>
  <body>
    <h1>Restricted page!</h1>
    <p>
        {{#user}}
            User: {{.}} (<a href='/logout'>logout</a>)
        {{/user}}
        {{^user}}
            Not logged in
            <a href='/login'>Login / Register</a>
        {{/user}}
    </p>
    <p>
        This page is only accessible for authenticated users! Psssss... This is a secret!
    </p>
    <ul>
      <li>
        <a href='/'>Back to homepage</a>
      </li>
      <li>
        <a href='/login'>Login / Register</a>
      </li>
    </ul>
  </body>
</html>