
/******************************************************************************
CSS Specific to this site
******************************************************************************/
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 2em;
}

a {
    color: #1AF;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
    color: #1AF;
    text-decoration: none;
}

.menuPageLink {
    margin-left: 12px;
}


p, ul, form {
    margin-left: 1em;
}

#header {
    background-color: #333;
    padding: 10px;
    color: #fff;
}

#header {
    vertical-align: middle;
}

#header #title {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

#logon {
    opacity: 0.7;
}

#content {
    padding: 10px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.createButton {
    margin: 10px;
}

.btn {
    margin-left: 20px;
}

#vizLink {
    font-weight: bold;
}

.myRadio {
    cursor: pointer;
    margin-right: 10px;
}

#editorContainer {
    margin-bottom: 20px;
}